---
import CSSLayout from "@/layouts/CSSLayout.astro";

const pageTitle = "My Astro Learning Blog";
---
<CSSLayout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>This is where I will post about my journey learning Astro.</p>
</CSSLayout>
