---
import Layout from '../layouts/Layout.astro';
import Carousel from '@/components/Carousel/Carousel.astro';
const pageTitle = "Home";
---
<Layout title={pageTitle}>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <h1>{pageTitle}</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    <li><a href="/posts/post-1/">Post 1</a></li>
    <li><a href="/posts/post-2/">Post 2</a></li>
    <li><a href="/posts/post-3/">Post 3</a></li>
  </ul>
  <main class="container mx-auto px-4 py-8 space-y-12">
    <Carousel id="carousel-home-1" items={['1', '2', '3', '4', '5', '6']} autoplay={4000} />
    <Carousel id="carousel-home-2" items={['A', 'B', 'C', 'D']} />
  </main>
</Layout>
