---
import Layout from '../layouts/Layout.astro';
import Carousel from '@/components/Carousel/Carousel.astro';
---
<Layout title="Home">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <main class="container mx-auto px-4 py-8 space-y-12">
    <Carousel id="carousel-home-1" items={['1', '2', '3', '4', '5', '6']} autoplay={4000} />
    <Carousel id="carousel-home-2" items={['A', 'B', 'C', 'D']} />
  </main>
</Layout>
